.jumbotron {
	margin-top: 2.5%;
	padding-bottom: 2%;
	padding-top: 2%;
}

.title {
	margin-top: 2%;
	margin-bottom: 3%;
	text-align: center;
}

.carousel {
	width: 90%;
	margin: auto;
}

.footer {
	position: relative;
	width: 100%;
	margin-top: 5%;
	bottom: 0;
}

.footer-name {
	margin: auto;
}

table.dataTable thead .sorting:after, table.dataTable thead .sorting:before,
	table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_asc:before,
	table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_asc_disabled:before,
	table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_desc:before,
	table.dataTable thead .sorting_desc_disabled:after, table.dataTable thead .sorting_desc_disabled:before
	{
	bottom: .5em;
}
.team{
	margin: 4em 0;
	position: relative;
}
.team h1{
	color:#000000;
	margin: 2em;
}
.team .item{
	position: relative;
}
.team .des{
	background: #D9230F;
	color: #fff;
	text-align: center;
	border-bottom-left-radius: 93%;
	transition:.3s ease-in-out;
}
.team .item:hover .des{
	height: 100%;
	background:#D9230F7d;
	position: absolute;
	width: 89%;
	padding: 5em;
	top: 0;
	border-bottom-left-radius: 0;
}

